body {
    background-color: #f1f1f1;
}

.clearfix:after {
    content: "";
	display: block;
	clear: both;
}

#menu > a:first-child {
    margin-left: 25%;
}

.active {
    background-color: red;
}

.nav {
    width:100%;
    overflow:hidden;
    background-color:black;
}

.nav .nav-item{
    padding:8px 16px;
    float:left;
    display:block;
    text-decoration: none;
    color:#fff
}
.nav .nav-item:hover {
    color:#000;
    background-color:#ccc;
}

@media (max-width:720px) {
    .first {margin-left: 0;}
}

.col {
    float:left; 
    width:100%; 
    margin: 10px 6px;
}
.col.s1{width:8.33333%}.col.s2{width:16.66666%}.col.s3{width:24.99999%}.col.s4{width:33.33333%}
.col.s5{width:41.66666%}.col.s6{width:49.99999%}.col.s7{width:58.33333%}.col.s8{width:66.66666%}
.col.s9{width:74.99999%}.col.s10{width:83.33333%}.col.s11{width:91.66666%}.col.s12{width:99.99999%}

@media (max-width:720px) {
    .col.s1,.col.s2,.col.s3,.col.s4,
    .col.s5,.col.s6,.col.s7,.col.s8,
    .col.s9,.col.s10,.col.s11,.col.s12{width:99.99999%}}

    
.card{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

html, body, .wrap { height: 100%; width: 100%; background-size: 100%; }

body  .wrap {height: auto; min-height: 100%;}

.main { padding-bottom: 150px; }

.footer { 
    position:relative;
	margin-top:-150px;
	height:150px;
	clear:both;
    border-top: 5px solid black;
    background-color: #f1f1f1; 
}

.footer a {
    text-decoration:none;
    color:black;
}

.footer h5 {
    margin-bottom:20px;
}

.footer ul li {
    float: left;
    margin-left:10px;
}

html { font-size:100%; }

@media (max-width: 720px) { body {font-size: 1.2rem;} }
@media (min-width: 720px) { body {font-size: 1rem;} } 
@media (min-width: 1024px) { body {font-size: 1.2rem;} }
@media (min-width: 2048px) { body {font-size: 1.5rem;} } 