<!DOCTYPE html>
<html>
    <head>
        <title>Сайт "портфолио" Попова Николая</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
        <style>
            .comment {
                box-shadow: 10px 10px 5px #888888;
            }

            textarea {
                width: 100%;
                height: 200px;
            }
        </style>
        <script>
            function onunload(){
                var now = new Date();
                var cookieName = "lastVisit=" + now.toString();
                var expires = "expires=" + (new Date(now.getFullYear() + 5, 0, 1)).toString();
                document.cookie = cookieName + ";" + expires;
                console.log("hello");
            }
        </script>
    </head>
    <body id="body" onunload="onunload()">
        <div class="wrap">

            <div class="main">

                {% with active_num = 2%}
                    {% include "header.html" %}
                {% endwith %}

                <div class="col s3"></div>
                <div class="col s6">
                    Посещений сегодня:
                    {% for digit in today_visit %}
                        <img src="static\img\nums\{{ digit }}.jpg" alt="{{ digit }}" >
                    {% endfor %}
                </div>
                <br>

                <div class="col s3"></div>
                <div class="col s6">
                    Всего посещений:
                    {% for digit in total_visit %}
                        <img src="static\img\nums\{{ digit }}.jpg" alt="{{ digit }}">
                    {% endfor %}
                </div>
                <br>

                <div class="col s3"></div>
                <div class="col s6">
                    Всего визитов:
                    {% for digit in hits %}
                        <img src="static\img\nums\{{ digit }}.jpg" alt="{{ digit }}">
                    {% endfor %}
                </div>
                <br>

                <div class="col s3"></div>
                <div class="col s6">
                    Ваше последний визит на эту страницу:
                    {{ last_visit }}
                </div>
                <br>

                {% for comment in cursor %}
                    <div class="col s3"></div>
                    <div class="col s6 comment">
                        {{ comment }}
                    </div>
                    <br>
                {% endfor %}

                <div class="col s3"></div>
                <div class="col s6">
                    <form method="POST">
                        <textarea name="comment"></textarea>
                        <input type="submit" value="Отправить">
                    </form>
                </div>

            </div>

        </div>

        {% include "footer.html" %}
    </body>
</html>