<!DOCTYPE html>
<html>
    <head>
        <title>Сайт "портфолио" Попова Николая</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/showimg.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
        <script src="{{ url_for('static', filename = 'js/showimg.js') }}"></script>
    </head>
    <body onload="onLoad()" onkeydown="closeimg(event)" id="body">
        <div id="modal">
            <img src="{{ url_for('static', filename = 'gif/loading.gif') }}" class="modal-content" alt="loading" id="loading">
            <div id="caption"></div>
        </div>
        <div class="wrap">
        
            <div class="main">

                {% with active_num = 1%}
                    {% include "header.html" %}
                {% endwith %}

                <div class="clearfix">
                    <div class="col s3">
                    </div>
                    <div class="col s3">
                      <img src="{{ url_for('static', filename = 'img/galeryimg/0.thumb.jpg') }}" class="card" alt="Город" id="img0">
                    </div>
                    <div class="col s3">
                        <img src="{{ url_for('static', filename = 'img/galeryimg/1.thumb.jpg') }}" class="card" alt="Скорпион из MK" id="img1">
                    </div>
                    <div class="col s3">
                    </div>
                </div>
                
                <div class="clearfix">
                    <div class="col s3">
                    </div>
                    <div class="col s3">
                      <img src="{{ url_for('static', filename = 'img/galeryimg/2.thumb.jpg') }}" class="card" alt="Вообще то это космос" id="img2">
                    </div>
                    <div class="col s3">
                        <img src="{{ url_for('static', filename = 'img/galeryimg/3.thumb.jpg') }}" class="card" alt="Безумный Макс, который по новее" id="img3">
                    </div>
                    <div class="col s3">
                    </div>
                </div>
                
            </div>

        </div>
        
        {% include "footer.html" %}
    </body>
</html>