{% set links_info = [["index", "Обо мне"], ["galery", "Галлерея"], ['comments', 'Отзывы']] %}
{% set link_template = '<a href="%s" class="nav-item%s">%s</a>' %}
{% set class_dop = '' %}
{% set href_dop = '' %}
<div class="nav clearfix" id="menu">
    {% for item in links_info %}
        {% set i = loop.index0 %}
        {% if i == active_num %}
            {% set class_dop = ' active' %}
            {% set href_dop = 'javascript:void(0)' %}
        {% else %}
            {% set class_dop = '' %}
            {% set href_dop = links_info[i][0] %}
        {% endif %}
        {{ link_template|format(href_dop, class_dop, links_info[i][1])|safe }}
    {% endfor %}
</div>